.background {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg/bg.jpg);
    background-size: cover;
    object-fit: fill;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
}

.text {
    color: white;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-align: center;
}

.header-text {
    font-size: 70px;
}

.subheader-text {
    font-size: 40px;
}

.sections {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 120px;
}

.paragraf {
    width: 15em;
}